

.NotifiVR .Evaluate .callout img {
  height: 60px;
}

.NotifiVR .charts {
  margin-bottom: 2.5em;
}

.NotifiVR .legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NotifiVR .legend p {
  width: 150px;
  text-align: left;
  margin: 0;
}

.NotifiVR .nav .navbar-link:hover {
  color: #12a42d;
}

.NotifiVR .nav .navbar-link:hover a {
  color: #12a42d;
}

.NotifiVR .nav .navbar-link:hover svg {
  fill: #12a42d;
}


.NotifiVR b {
  color: #12a42d;
}


.NotifiVR .highlight {
  color: #12a42d;
  font-weight: bold;
}


.NotifiVR p a::after {
  background: rgba(18, 164, 45, 0.565);
}

#phoneEmoji {
  transform: scale(-1, 1);
  display: inline-block;
}