.project-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-icon .isvg {
  height: 7em;
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-icon .square svg {
  max-height: 55%;
}

.project-icon .round svg {
  max-height: 63%;
}

.project-icon svg {
  filter: url(grey.svg#grayscale) contrast(0);
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(1) contrast(0);
  /* Google Chrome & Safari 6+ */

  transition: all .5s ease;
  max-height: 70%;
  max-width: 120%;
}

.project-icon svg:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

.project-icon .rodal-dialog {
  padding: 1em;
}

.project-icon .rodal-close:before {
  border-radius: 20%;
}

.project-icon .modal-content img {
  display: block;
  max-width: 100%;
  margin: auto;
  max-height: 300px;
}

.project-icon .modal-content a {
  margin-right: .5em;
}