.project-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-icon .isvg {
  height: 7em;
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-icon .square svg {
  max-height: 55%;
}

.project-icon .round svg {
  max-height: 63%;
}

.project-icon svg {
  filter: url(grey.svg#grayscale) contrast(0);
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(1) contrast(0);
  /* Google Chrome & Safari 6+ */

  transition: all .5s ease;
  max-height: 70%;
  max-width: 120%;
}

.project-icon svg:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
}


.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}


.ReactModal__Content {
  padding: 1em;
}


.ReactModal__Content .modal-close-button {
  padding: 0;
  border: 0;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}


.ReactModal__Content .modal-close-button img{
  height: 1.5em;
  width: 1.5em;
}


.ReactModal__Content .modal-close-button:hover {
  cursor: pointer;
}

.ReactModal__Content .modal-close-button:focus {
  outline: none;
}


.ReactModal__Content .modal-content {
  transition: all 1s ease;
}

.ReactModal__Content .modal-content img {
  display: block;
  max-width: 100%;
  margin: auto;
  max-height: 300px;
  transition: all 1s ease;
}

.ReactModal__Content .modal-content a {
  margin-right: .5em;
}

.modal-0-2 .loader {
  background: gray;
}
