.Project {
  margin-top: 12em;
  margin-bottom: 12em;
}

.project-link-container {
  color: inherit;
}

.Project:hover .project-image {
  box-shadow: 0 0.75em 1.25em 0 rgba(0,0,0,0.30);
}

.Project:hover .project-blurb {
  box-shadow: 0 1.5em 2.5em 0 rgba(0,0,0,0.30);
}


.project-image {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.30);
  transition: box-shadow .5s ease;
}

.plx {
  opacity: 0;
}

.project-blurb {
  background-color: white;
  padding: 1em 1.5em;
  overflow: hidden;
  box-shadow: 0 1em 2em 0 rgba(0,0,0,0.30);
  height: auto;
  margin-top: -10em;
  transition: all .6s ease;
  position: relative;

}


.project-blurb.blue:hover {
  background-color: #1e95ed;
}


.project-blurb.red:hover {
  background-color: #fa5858;
}

.project-blurb.purple:hover {
  background-color: #9157ff;
}

/* Gradient background code */


/*
.project-blurb .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .6s ease;
}

.project-blurb .bg-transition {
  z-index: -2;
}

.project-blurb .bg-white, .project-blurb .bg-transition  {
  background: #FAFAFA;
}

.project-blurb .bg-gradient {
  opacity: 0;
}

.project-blurb .bg-gradient.blue {
  background-image: linear-gradient(90deg, #330867 0%, #30cfd0 100%);
}

.project-blurb .bg-gradient.red {
  background-color: #F19595;
  /*background-image: linear-gradient(90deg, #B36FE8 0%, #EC6565 100%);
}


.project-blurb:hover .bg-white {
  opacity: 0;
}

.project-blurb:hover .bg-gradient {
  opacity: 1;
}

*/

/* Hover Styling */

.project-blurb:hover {
  color: #FAFAFA;
}

.Project .project-blurb:hover .next a {
  color: #FAFAFA;
}

.Project .project-blurb:hover .next svg {
  fill: #FAFAFA;
}

.project-blurb:hover .next-arrow{
  transform: translateX(5px);
}

/* Link Styling */

.bottom {
  display: flex;
  justify-content: space-between
}

.bottom .next {
  display: flex;
  padding: .5em 0 1em;
}

.bottom .next a {
  transition: all .6s ease;
}

.bottom .next-arrow {
  width: 1em;
  height: 1em;
  margin-left: 4px;
  transition: all .4s linear;
  display: block;
}

.bottom .next-arrow svg {
  transition: all .6s ease;
}

.project-blurb .next.blue a {
  color: #1e95ed;
}

.project-blurb .blue .next-arrow svg {
  fill: #1e95ed;
}

.project-blurb .next.red a {
  color: #fa5858;
}

.project-blurb .red .next-arrow svg {
  fill: #fa5858;
}


.project-blurb .purple a {
  color: #9157ff;
}

.project-blurb .purple .next-arrow svg {
  fill: #9157ff;
}




@media only screen and (max-width: 575px) {
  .plx {
    margin-top: 35vh;

  }
}


@media only screen and (max-width: 767px) and (min-width: 576px) {
  .plx {
    margin-top: 150px;
  }
}


@media only screen and (max-width: 992px) and (min-width: 768px) {
  .plx {
    margin-top: 100px;
  }
}