/* Solid Button Rules */

.button a {
  display: inline-block;
  position: relative;
  border-radius: 26px;
  padding: .5em 1.5em;
  color: #FAFAFA;
  text-decoration: none;
  transition: all .6s linear;
  font-weight: 500;
}

.button a:hover {
  cursor: pointer;
}


/* Outline Button Rules */

.button.outline a {
  color: #696a6d;
  padding: 0;
}

.button.outline a span {
  position: relative;
  display: inline-block;
  padding: .3em 1.3em;
}

.button.outline a::before {
  border: 2px solid #696a6d;
  border-radius: 26px;
  width: 100%;
  height:100%;
  content: '';
  top: -2px;
  left: -2px;
  position: absolute;
}

/* Outline Button Colors */

.button.outline.blue a:hover span {
  color: #1e95ed
}

.button.outline.blue a:hover::before {
  border-color: #1e95ed;
}

.button.outline.red a:hover span {
  color: #fa5858;
}

.button.outline.red a:hover::before {
  border-color: #fa5858;
}


.button.outline.purple a:hover span {
  color: #9157ff;
}

.button.outline.purple a:hover::before {
  border-color: #9157ff;
}
