.Alien .gestures img {
  height: 75px;
}


.Alien b {
  color: #9157ff;
}

.Alien .nav .navbar-link:hover {
  color: #9157ff;
}

.Alien .nav .navbar-link:hover a {
  color: #9157ff;
}

.Alien .nav .navbar-link:hover svg {
  fill: #9157ff;
}

.Alien p a::after {
  background: rgba(145, 87, 255, 0.565);
}