.project-page {
  padding: 3em 0;
}

.project-page h1 {
  margin: 0 auto;
}

.project-page .subtitle {
  font-size: 2em;
}

.project-page .subtitle p {
  margin-top: .5em;
}

.hero-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 20em;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.30);
}

