.project-page {
  padding: 3em 0;
}

.project-page h1 {
  margin: 0 auto;
}

.project-page .subtitle {
  font-size: 2em;
}

.project-page .subtitle p {
  margin-top: .5em;
}

.hero-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 20em;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.30);
}

.project-page .loader {
  width: 100%;
  height: 20em;
  max-height: 20em;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -25% 0
  }
  100%{
    background-position: 125% 0
  }
}

.project-page .next-project h3 {
  font-weight: bold;
  margin: 3rem auto .5rem;
}

.project-page .Project {
  margin-top: 2em;
  margin-bottom: 0;
}