.headroom {
  background: #FAFAFA;
  z-index: 100 !important;
}

.headroom--unfixed {
  position: absolute !important;
}

.headroom--unfixed .navbar {
  box-shadow: none;
}

.headroom--unfixed .progress-bar {
  display: none;
}

.navbar {
  padding-top: .6em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 .2em .2em 0 rgba(0,0,0,0.10);
}

.navbar a {
  display: block;
  padding: .6em 2em .8em;
}

.nav .progress-bar {
  -webkit-appearance: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0.4rem;
  border: 0;
  background-color: transparent;
  color: rgb(97, 13, 255);
  z-index: 999;
}

.progress-bar.red {
  color: #EC6565;
}

.progress-bar.blue {
  color: #7CE1EC;
}

.navbar .progress-bar {
  position: absolute;
  width: 100%;
}

progress::-webkit-progress-bar {
  background: #FAFAFA;
}

progress::-webkit-progress-value {
  background: rgb(97, 13, 255);
}

progress.red::-webkit-progress-value {
  background-image: linear-gradient(90deg, #B36FE8 0%, #EC6565 100%);
}

progress.blue::-webkit-progress-value {
  background-image: linear-gradient(90deg, #A06FE8 0%, #7CE1EC 100%);
}

progress::-moz-progress-bar {
  background-color: rgb(97, 13, 255);
}

progress.red::-moz-progress-bar {
  background-image: linear-gradient(90deg, #B36FE8 0%, #EC6565 100%);
}

progress.blue::-moz-progress-bar {
  background-image: linear-gradient(90deg, #A06FE8 0%, #7CE1EC 100%);
}