.headroom {
  background: #FAFAFA;
  z-index: 100 !important;
}

.headroom--unfixed {
  position: absolute !important;
}

.headroom--unfixed .navbar {
  box-shadow: none;
}

.headroom--unfixed .progress-bar {
  display: none;
}

.navbar {
  padding-top: .6em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 .2em .2em 0 rgba(0,0,0,0.10);
}

.navbar a {
  display: inline-block;
  padding: .6em 2em .8em;
  transition: all .2s linear;
}

.navbar .next {
  padding: .6em 2em .8em 2em;
  display: flex;
}

.navbar .next:hover {
  cursor: pointer;
}

.navbar .next a {
  padding: 0

}

.navbar .next .next-arrow {
  height: 1em;
  width: 1em;
  margin-left: 4px;
  transition: all .3s linear;
  margin-right: 2em
}

.navbar .next:hover .next-arrow{
  transform: translateX(3px);
}

.nav .progress-bar {
  -webkit-appearance: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0.4rem;
  border: 0;
  background-color: transparent;
  color: rgb(97, 13, 255);
  z-index: 999;
}

.progress-bar.red {
  color: #EC6565;
}

.progress-bar.blue {
  color: #7CE1EC;
}

.progress-bar.green {
  color: #12a42d;
}

.progress-bar.purple {
  color: #9157ff;
}

.progress-bar.grey {
  color: #747a75
}

.navbar .progress-bar {
  position: absolute;
  width: 100%;
}

progress::-webkit-progress-bar {
  background: #FAFAFA;
}

progress::-webkit-progress-value {
  background: #9157ff;
}

progress::-moz-progress-bar {
  background: #9157ff;
}

progress.red::-webkit-progress-value {
  background-color: #fa5858;
}

progress.red::-moz-progress-bar {
  background-color: #fa5858;
}


progress.blue::-webkit-progress-value {
  background-color: #1e95ed;
}

progress.blue::-moz-progress-bar {
  background-color: #1e95ed;
}


progress.green::-webkit-progress-value {
  background-color: #12a42d;
}

progress.green::-moz-progress-bar {
  background-color: #12a42d;
}

progress.grey::-webkit-progress-value {
  background-color: #747a75;
}

progress.grey::-moz-progress-bar {
  background-color: #747a75;
}