.project-section h3 {
  font-weight: bold;
  margin: 2rem auto .5rem;
}

.quote {
  font-style: italic;
  font-size: 1.25em;
}

.project-section .feature-image {
  max-width: 100%;
  height: auto;
  margin: .75em 0;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.30);
}

.project-section iframe {
  margin: .75em 0;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.30);
}

.project-section .mini-image {
  box-shadow: 0 0.25em .5em 0 rgba(0,0,0,0.15);
  max-width: 100%;
  height: auto;
  margin: .75em 0;
}

.project-section .mini-image:hover {
  cursor: pointer;
}

.project-section .caption {
  font-size: .875em;
  text-align: center;
}

.project-section .list {
  padding-left: 1.5em;
  margin-top: 0;
}

.project-section .list li {
  margin: 0.5em 0;
  line-height: 1.4em;
}

.project-section .video-holder {
  margin-bottom: 2em;
}

.project-section .aspect-keeper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  display: block;
  max-width: 100%;
}

.aspect-keeper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-wrapper {
  text-align: center;
  margin: 1em 0;
}