.Macy .customer-journey-container {
  overflow-x: scroll;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.30);
  padding: 0;
}

.Macy .customer-journey {
  max-height: 400px;
}

.Macy .customer-journey-2 {
  max-height: 450px;
}

.Macy b {
  color: #CD6BAD;
}

.Macy .nav .navbar-link:hover {
  color: #CD6BAD;
}

.Macy .nav .navbar-link:hover a {
  color: #CD6BAD;
}

.Macy .nav .navbar-link:hover svg {
  fill: #CD6BAD;
}