.callout img {
  height: 75px;
  display: block;
  max-width: 100px;
  margin: 1em auto;
}

.callout h4 {
  text-align: center;
}

.callout p {
  text-align: center;
}

.callout.Audio img {
  max-width: 70px;
}

.callout.Popup img {
  max-width: 80px;
}