.callout .callout-image-container {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.callout .callout-text img {
  height: 60px;
}

.callout img {
  max-height: 75px;
  display: block;
  max-width: 100px;
}

.callout h4 {
  text-align: center;
}

.callout p {
  text-align: center;
}

.callout.Audio img {
  max-width: 70px;
}

.callout.Popup img {
  max-width: 80px;
}