@import 'flexboxgrid2.css';

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/book/CircularStd-Book.woff2') format('woff2'),
       url('./fonts/circular/book/CircularStd-Book.woff') format('woff'),
       url('./fonts/circular/book/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/book-italic/CircularStd-BookItalic.woff2') format('woff2'),
       url('./fonts/circular/book-italic/CircularStd-BookItalic.woff') format('woff'),
       url('./fonts/circular/book-italic/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/medium/CircularStd-Medium.woff2') format('woff2'),
       url('./fonts/circular/medium/CircularStd-Medium.woff') format('woff'),
       url('./fonts/circular/medium/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/medium-italic/CircularStd-MediumItalic.woff2') format('woff2'),
       url('./fonts/circular/medium-italic/CircularStd-MediumItalic.woff') format('woff'),
       url('./fonts/circular/medium-italic/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/bold/CircularStd-Bold.woff2') format('woff2'),
       url('./fonts/circular/bold/CircularStd-Bold.woff') format('woff'),
       url('./fonts/circular/bold/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/bold-italic/CircularStd-BoldItalic.woff2') format('woff2'),
       url('./fonts/circular/bold-italic/CircularStd-BoldItalic.woff') format('woff'),
       url('./fonts/circular/bold-italic/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/black/CircularStd-Black.woff2') format('woff2'),
       url('./fonts/circular/black/CircularStd-Black.woff') format('woff'),
       url('./fonts/circular/black/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular/black-italic/CircularStd-BlackItalic.woff2') format('woff2'),
       url('./fonts/circular/black-italic/CircularStd-BlackItalic.woff') format('woff'),
       url('./fonts/circular/black-italic/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Rotis Semi Sans Std';
  font-weight: bold;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-feature-settings: "liga", "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background: #FAFAFA;
}

#root {
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  font-weight: 900;
  font-size: 4em;
  letter-spacing: .1rem;
}

h2 {
  font-weight: 900;
  font-size: 3em;
  margin: .33em 0;
}

h3 {
  font-weight: 500;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 {
  font-weight: bold;
  font-size: 1em;
  margin: 1em auto .5em;
}

p {
  line-height: 1.5em;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.one-margin-vert {
  margin: 1em auto;
}

a {
  color: #296EA3;
  text-decoration: none;
  display: inline-block;
}

p a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #296EA3;
  transition: width .5s ease;
}

p a:hover::after {
  width: 100%;
}

p a:visited {
  color: #296EA3;
  text-decoration: none;
}